.button-style {
    color: white;
    background-color: #51abff;
    height: 40px;
    width: 30%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    border-color: transparent;
  }
  
  .card-style {
    width: 80%;
    height: 80%;
    margin-bottom: 3rem;
    margin-top: 2%;
    margin-left: 2%;
    padding: 2%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .img-style {
    width: 30%;
    height: 30%;
  }